#headshot {
  position: absolute;
  z-index: 11;
  top: 150px;
  right: 150px;
  padding: 3px;
  border: black solid 1px;
  background-color: white;
  -webkit-box-shadow: 0px 8px 30px #333333;
  -moz-box-shadow: 0px 10px 80px #333333;
}

img {
  border: solid 1px;
}

.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}

.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 10px rgba(0,0,0,.4);
}

.carousel-caption h2,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.05;
  color: #fff;
  text-shadow: 0 1px 10px rgba(0,0,0,.4);
}

.carousel-caption .btn {
  margin-top: 10px;
}
